
    <div class="menu">        
        <div id="mobile-exit" class="mobile-exit-menu">Exit</div>
        <ul>
            <li class="stuff"><a href="#">projects</a></li>
            <li class="stuff"><a href="#">contatcs</a></li>
            <li class="stuff"><a href="#">about</a></li>
            <li class="stuff"><a href="#">networks</a></li>
        </ul>
        <ul class="contacts">
            <li>+64 226597063</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
        </ul>
    </div>
    
    <div class="scrollwrapper">
        <div class="navbar">
            <div class="container">
                <a href="#" class="logo"><img src="img/Future_Gadget_Lab_logo.svg" alt="Future_Gadget_Lab_logo" style="width: 43.75px; height: 45.7px;"></a>
                
                <div id="mobile-cta" class="mobile-menu">Menu</div>

            </div>
        </div>

        <section class="hero">
            <div class="container--hero">
                <div class="title">
                    <h1>The Wildside</h1>
                </div>
               
                
                <div id="vn-op" class="video-vn-op">
                    <div class="video-container">
                        <button class="video play-button">WATCH THE REEL</button>
                        <!-- <button class="video close-button">CLOSE</button> -->
                    </div>
                    <video autoplay loop src="video/Pexels Videos 2716.mp4" frameborder="0" style="width: 100%; aspect-ratio: 16/9;" muted="true"></video>
                </div>
            </div>
        </section>

        <section id="second-sec" class="text-sec">
            <div class="container--sec2">
                <h2 class="sec-2-text">

                    <div class="quote-1">
                        <span class="letter">Welcome to </span>

                        <span class="sec-2-img">
                            <img src="img/static-noise.svg" alt="static noise" class="img-wrap2"
                            style="width: 60px; height: 30px;">
                        </span>

                        <span class="letter">the Wildside.</span>

                        <span class="sec-2-img">
                            <img src="img/static-noise.svg" alt="static noise" class="img-wrap1"
                            style="width: 60px; height: 30px;"> 
                        </span>

                        <span class="letter">Where you can </span>

                        <span class="sec-2-img">
                            <img src="img/static-noise.svg" alt="static noise" class="img-wrap2"
                            style="width: 60px; height: 30px;">
                        </span>

                        <span class="letter">find intersting information,</span>

                        <span class="sec-2-img">
                            <img src="img/static-noise.svg" alt="static noise" class="img-wrap2"
                            style="width: 60px; height: 30px;">
                        </span>

                        <span class="letter">photos and videos</span>

                        <span class="sec-2-img">
                            <img src="img/static-noise.svg" alt="static noise" class="img-wrap2"
                            style="width: 60px; height: 30px;">
                        </span>

                        <span class="letter">about different animals in various</span>

                        <span class="sec-2-img">
                            <img src="img/static-noise.svg" alt="static noise" class="img-wrap2"
                            style="width: 60px; height: 30px;">
                        </span>

                        <span class="letter">locations around the world.</span>
                    </div>
                </h2>
            </div>
        </section>

        <section id="thrid-sec">
            <div class="sec-3">
    
                <div class="sec-3-img">
                    <div class="mainpic">
                        <%- include ("partials/li.ejs") %>
                    </div>

                    <div class="leftpic">
                        <%- include ("partials/li.ejs") %>
                    </div>

                    <div class="righttop">
                        <%- include ("partials/li.ejs") %>
                    </div>

                    <div class="rightmid">
                        <%- include ("partials/li.ejs") %>
                    </div>

                    <div class="rightbot">
                        <%- include ("partials/li.ejs") %>
                    </div>
                </div>
        
                <div class="scientific-name">
                    <h2 class="scientific-name-block">
                        <ul>
                            <li>Aptenodytes forsteri</li>
                        </ul>
                    </h2>
                </div>
                
                <div class="civi-block">
                    <h3 class="civi-name">
                        <ul>
                            <li>Emperor Penguin</li>
                        </ul>
                    </h3>
                    <p class="animal-fact">
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                        </ul>
                    </p>
                </div>
        
                <div class="location">
                    <h3 class="location-name">
                        <ul>
                            <li>Antartica</li>
                        </ul>  
                    </h3>
                </div>
                
                <div class="arrowContainer">
                    <button class="arrow left">
                        prev 
                   </button>
   
                   <button class="arrow right">
                       next 
                  </button>
                </div>
            </div>
        </section>

        <section id="promote">
            <div class="makers">
                <ul class="makers-list">
                    <li><span class="number">659</span>producer</li>
                    <li><span class="number">659</span>devloper</li>
                    <li><span class="number">659</span>artists</li>
                </ul>
        
                <a href="#">
                    <h3 class="heading3-title">
                        learn more about them
                    </h3>
                </a>
            </div>
        </section>

        <section class="gallery">
            <div class="container-gall">
                <ul>
                    <img src="" alt="" class="randomgallery">
                    <img src="" alt="" class="randomgallery">
                    <img src="" alt="" class="randomgallery">
                    <img src="" alt="" class="randomgallery">
                    <img src="" alt="" class="randomgallery">
                </ul>
            </div>
        </section>

        <section class="footer">
            <div class="containerfooter">
                <h2 class="footertext">
                    elit ut <span class="bluecolour">aliquam</span> <span class="circle">sit amet luctus</span>
                    <!-- <span class="s1">s</span><span class="i">i</span><span class="t1">t</span>
                    <span class="a">a</span> <span class="m">m</span><span class="e">e</span><span class="t2">t</span>
                    <span class="l">l</span> <span class="u1">u</span><span class="c">c</span>
                    <span class="t">t</span><span class="u2">u</span><span class="s2">s</span>  -->
                    venenatis lectus
                </h2>

                <nav class="footer-nav">
                    <ul class="footer-nav-bar">
                        <li>Twitter</li>
                        <li>Linkedin</li>
                        <li>Instagram</li>
                        <li>Facebook</li>
                    </ul>
                </nav>
            </div>
        </section>
    </div>